<div class="container mt-5">

  <div class="row">
    <div class="col-md-12">
      <h1 class="fontProximaheading">Country</h1>
    </div>
    <div class="col-md-12">    <hr size="30" ></div>

    <div class="col-md-12 mt-3">
      <p class="fontProximaNovaParagrah">
        A country is a region that is identified as a distinct entity in political geography. A country may be an independent sovereign
        state or part of a larger state,[1] as a non-sovereign or formerly sovereign political division, a physical territory
        with a government, or a geographic region associated with sets of previously independent or differently associated
        people with distinct political characteristics. Countries can refer both to sovereign states and to other political
        entities,[2] while other times it can refer only to states.[3] For example, the CIA World Factbook uses the word
        in its "Country name" field to refer to "a wide variety of dependencies, areas of special sovereignty, uninhabited
        islands, and other entities in addition to the traditional countries or independent states
      </p>
    </div>

  </div>


    <div class="row topmargin">
        <div class="col-md-12 mt-5">
          <h1  class="fontProximaheading">Maps</h1>
        </div>
        <div class="col-md-12">    <hr size="30" ></div>
        <div class="col-md-12 mt-3">
            <div class="row">
                <div class="col-md-6">
         <p class="fontProximaNovaParagrah">A map is a symbolic depiction emphasizing relationships between elements of some space, such as objects, regions, or themes.</p>
         </div>
         <div class="col-md-6">
            <img src="assets/images/map.jfif" width="100%">
          </div>
         </div>
        </div>
    
      </div>
    <div class="row topmargin">
        <div class="col-md-12 mt-5">
          <h1  class="fontProximaheading">Travel</h1>
        </div>
        <div class="col-md-12">    <hr size="30" ></div>
        <div class="col-md-12 mt-3">
          <div class="row">
          <div class="col-md-6">
              <p class="fontProximaNovaParagrah">Travel is the movement of people between distant geographical locations. </p>
          </div>
          <div class="col-md-6">
              <img src="assets/images/travel.jfif" width="100%">
          </div>
        </div>
          
        </div>
    
      </div>
</div>