<div class="container mt-5">

  <div class="row">
    <div class="col-md-12">
      <h1 class="fontProximaheading">Country</h1>
    </div>
    <div class="col-md-12">
      <hr size="30">
    </div>

    <div class="col-md-12 mt-3">
      <p class="fontProximaNovaParagrah">
        A country is a region that is identified as a distinct entity in political geography. A country may be an independent sovereign
        state or part of a larger state,[1] as a non-sovereign or formerly sovereign political division, a physical territory
        with a government, or a geographic region associated with sets of previously independent or differently associated
        people with distinct political characteristics. Countries can refer both to sovereign states and to other political
        entities,[2] while other times it can refer only to states.[3] For example, the CIA World Factbook uses the word
        in its "Country name" field to refer to "a wide variety of dependencies, areas of special sovereignty, uninhabited
        islands, and other entities in addition to the traditional countries or independent states
      </p>
    </div>
    <div class="col-md-12 mt-3">
        <div class="row">
          <div class="col-md-1 offset-md-11 pl-0">
            <a routerLink="/countries"> View More</a>
          </div>
        </div>
      </div>
  </div>


  <div class="row ">
    <div class="col-md-12 mt-5">
      <h1 class="fontProximaheading">Maps</h1>
    </div>
    <div class="col-md-12">
      <hr size="30">
    </div>
    <div class="col-md-12 mt-3">
      <div class="row">
        <div class="col-md-6">
          <p class="fontProximaNovaParagrah">A map is a symbolic depiction emphasizing relationships between elements of some space, such as objects, regions,
            or themes.</p>
        </div>
        <div class="col-md-6">
          <img src="assets/images/map.jfif" width="100%">
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-3">
      <div class="row">
        <div class="col-md-1 offset-md-11 pl-0">
          <a routerLink="/maps"> View More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12 mt-5">
      <h1 class="fontProximaheading">Travel</h1>
    </div>
    <div class="col-md-12">
      <hr size="30">
    </div>
    <div class="col-md-12 mt-3">
      <!-- <div class="row"> -->
        <!-- <div class="col-md-6"> -->
          <p class="fontProximaNovaParagrah">Travel is the movement of people between distant geographical locations. </p>
        <!-- </div> -->
        <!-- <div class="col-md-6">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" >
                <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <div class="img"><img class="d-block img-fluid" src="assets/images/travel.jfif" width="100%" alt="First slide"></div>
                </div>
                <div class="carousel-item">
                  <div class="img"><img class="d-block img-fluid" src="assets/images/travel1.jfif"  width="100%"  alt="Second slide"></div>
                </div>
                <div class="carousel-item">
                  <div class="img"><img class="d-block img-fluid" src="assets/images/travel2.jpg" width="100%" alt="Third slide"></div>
                </div>
                <div class="carousel-item">
                    <div class="img"><img class="d-block img-fluid" src="assets/images/travel3.png" width="100%" alt="Third slide"></div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
              </div> 
        </div> -->
      <!-- </div> -->
    </div>
    <div class="col-md-12 mt-5 owl-carousel-margin">
        <owl-carousel [options]="carouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
            <div class="item " *ngFor="let image of images;let i= index">
              <img class="slide-image" src="{{image.image}}" >
              <div class="slide-text mt-1">
                <h4 class="fontProxima">{{image.text}}</h4>
              </div>
            </div>
          </owl-carousel>
    </div>
    <div class="col-md-12 mt-3">
        <div class="row">
          <div class="col-md-1 offset-md-11 pl-0">
            <a routerLink="/travel"> View More</a>
          </div>
        </div>
      </div>
  </div>
</div>

<!-- <div class="owl-carousel" owlCarousel>
<div> <img class="d-block img-fluid" src="assets/images/travel.jfif" width="100%"></div> 
<div> <img class="d-block img-fluid" src="assets/images/travel1.jfif" width="100%"></div> 
<div> <img class="d-block img-fluid" src="assets/images/travel.jfif" width="100%"></div> 
<div> <img class="d-block img-fluid" src="assets/images/travel1.jfif" width="100%"></div>
</div>   -->



